 .TablaImage, .TablaPlayers {
   justify-content: center;
   align-items: center; 
   display: flex;
   flex-direction: column;
}

p{
	font-family: 'Noto Serif TC', serif;
	font-size: 20px;
	line-height: 1.6;
	margin-left: 10px;
	padding: 5px;
}

.compositions p{
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size:20px;
	padding: 10px;
	word-spacing: 30px;
}

.Bhari{
	color:blue;
}
.Khali{
	color:green;
}
.center{
	align-items: center;
	justify-content: center;
}